# DISSIMILARITY (Tugas 1)

Dissimilarity adalah

**Tugas 1**

Mengukur jarak (dissimilarity)
1. Ambil data dari Kaggle atau GitHub
2. Ukur jarak d(1,2), d(1,3), d(1,4) dari data tersebut

In [ ]:
import pandas as pd

In [ ]:
%cd /content/drive/MyDrive/datamining/tugas

/content/drive/MyDrive/datamining/tugas

In [ ]:
df = pd.read_csv('train.csv', sep=",", encoding="ISO-8859-1", header=0)
df.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

In [ ]:
number_of_columns = df.shape[1]

In [ ]:
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [ ]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [ ]:
df[["User_ID","Product_ID","Gender", "Marital_Status"]].head(10)

   User_ID Product_ID Gender  Marital_Status
0  1000001  P00069042      F               0
1  1000001  P00248942      F               0
2  1000001  P00087842      F               0
3  1000001  P00085442      F               0
4  1000002  P00285442      M               0
5  1000003  P00193542      M               0
6  1000004  P00184942      M               1
7  1000004  P00346142      M               1
8  1000004   P0097242      M               1
9  1000005  P00274942      M               1

In [ ]:
# Gender code
code_Gender_for_cherbourg = "F"
code_Gender_for_southampton = "M"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_embark_to_biner(Gender):
    return value_of_one if Gender == code_Gender_for_southampton else value_of_zero

In [ ]:
# Update all values of 'sex' series
df["Gender"] = df["Gender"].apply(change_code_embark_to_biner)

In [ ]:
df[["User_ID","Product_ID","Gender", "Marital_Status"]].head(10)

   User_ID Product_ID  Gender  Marital_Status
0  1000001  P00069042       0               0
1  1000001  P00248942       0               0
2  1000001  P00087842       0               0
3  1000001  P00085442       0               0
4  1000002  P00285442       1               0
5  1000003  P00193542       1               0
6  1000004  P00184942       1               1
7  1000004  P00346142       1               1
8  1000004   P0097242       1               1
9  1000005  P00274942       1               1

In [ ]:
# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(df, idx, series):
    return df.loc[(idx - DECREMENT_BY_ONE), series]

In [ ]:
def get_dissimilarity_dataset(df, series_index = [], series = []):
    first_series = get_series(df, series_index[0], series)
    second_series = get_series(df, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [ ]:
get_dissimilarity_dataset(df, [1,2], ["Gender", "Marital_Status"]).T

                0  1
Gender          0  0
Marital_Status  0  0

In [ ]:
df.loc[0:5, ["Gender", "Marital_Status"]]

   Gender  Marital_Status
0       0               0
1       0               0
2       0               0
3       0               0
4       1               0
5       1               0

In [ ]:
def count_contingency_value(df, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = df.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(df.loc[(start_index - DECREMENT_BY_ONE):(last_index - DECREMENT_BY_ONE), df.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
d_1_2 = get_dissimilarity_dataset(df, [1,2], ["Gender", "Marital_Status"])
d_1_2

  Gender Marital_Status
0      0              0
1      0              0

In [ ]:
count_contingency_value(d_1_2, 1, 2)

{'q': 0, 'r': 0, 's': 0, 't': 2}

In [ ]:
# d(1,3)
d_1_3 = get_dissimilarity_dataset(df, [1,3], ["Gender", "Marital_Status"])
d_1_3

  Gender Marital_Status
0      0              0
2      0              0

In [ ]:
count_contingency_value(d_1_3, 1, 3)

{'q': 0, 'r': 0, 's': 0, 't': 2}

In [ ]:
# d(1,4)
d_1_4 = get_dissimilarity_dataset(df, [1,4], ["Gender", "Marital_Status"])
d_1_4

  Gender Marital_Status
0      0              0
3      0              0

In [ ]:
count_contingency_value(d_1_4, 1, 4)

{'q': 0, 'r': 0, 's': 0, 't': 2}